*{
	box-sizing:border-box;
}
html , body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div , span , object , iframe , img , table , caption , thead , tbody , tfoot , tr , tr , td , article , aside , canvas , details , figure , hgroup , menu , nav , footer , header , section , summary , mark , audio , video {
	border: 0;
	margin: 0;
	padding: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , address , cit , code , del , dfn , em , ins , q , samp , small , strong , sub , sup , b , i , hr , dl , dt , dd , ol , ul , li , fieldset , legend , label {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article , aside , canvas , figure , figure img , figcaption , hgroup , footer , header , nav , section , audio , video {
	display: block;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	caption , th , td {
		text-align: left;
		vertical-align: middle;
	}
}

a img {
	border: 0;
}:focus {
	outline: 0;
}

@pad: 10px;
body {
	background-color:#fff;
	color: #333;
}

.twikural {
	width: 100%;
}

header {
	margin: @pad 0;
	overflow:hidden;
	position:relative;
	
	h1 {
		font-size: 2rem;
	}

	.logo {
		width: 50px;
		height: auto;
	}

	.tagline {
		font-size: .8rem;
		line-height: 2rem;
	}
	
	.brand{
		text-align:center;
		width:100%;
	}
	
	.follow{
		width:100%;
		padding: @pad;
		text-align:center;
		background-color:#fff;
	}
}

article.thirukural {
	position:relative;
	margin: 0 auto;
	font-size: .8rem;
	.couplet-tamil {
		padding: 2 * @pad @pad;
		text-align:center;
		span{
			display:inline-block;
			text-align:left;
		}
	}

	.explanation-tamil {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			margin: @pad 0;
			&:last-child{
				margin-bottom:2*@pad;
			}
			padding: @pad 2 * @pad;
			.author {
				font-size: .9rem;
				margin-bottom: @pad;
				&:after {
					content: ':';
				}
			}
		}
	}
	.gad{
		margin:@pad/2 -(2*@pad);
		text-align:center;
		line-height:0;
		&.slot-middle{
			margin:@pad -(2*@pad);
		}
	}
	.couplet-english{
		dt{
			padding:@pad;
		}
		dd{
			padding:@pad 2*@pad;
		}
	}
	nav{
		padding: @pad 0;
		overflow:hidden;
		a{
			background-color:#ddd;
			padding:0 @pad;
			border:1px solid #ccc;
			border-radius:3px;
			font-size:.8rem;
			text-decoration:none;
			color:#000;
			&.previous{
				float:left;
				margin-left:@pad;
				&:before{
					content:'«';
					font-size:1.2rem;
					font-weight:bold;
					margin-right:@pad;
				}
			}
			&.next{
				float:right;
				margin-right:@pad;
				&:after{
					content:'»';
					font-size:1.2rem;
					font-weight:bold;
					margin-left:@pad;
				}
			}
		}
	}
	.share{
		list-style:none;
		margin:3*@pad 0 0 0;
		text-align:center;
		overflow:hidden;
		li{
			display:block;
			&.channel-fb{
				float:left;
				margin-left:2*@pad;
			}
			&.channel-twitter{
				float:right;
			}
		}
	}
	.discuss{
		background-color:#fff;
	}
	
	&.theme-navy{
		.couplet-tamil{
			background-color:#001F3F;
			color:#fff;
		}
	}
	&.theme-maroon{
		.couplet-tamil{
			background-color:#85144B;
			color:#fff;
		}
	}
	&.theme-orange{
		.couplet-tamil{
			background-color:#FF851B;
			color:#fff;
		}
	}
	&.theme-teal{
		.couplet-tamil{
			background-color:#39CCCC;
			color:#fff;
		}
	}
}

footer{
	margin:@pad 0;
	font-size:.8rem;
	padding:@pad;
	
	a{
		color:#fff;
	}
}

.home{
	.thirukurals{
		list-style:none;
		padding:0;
		margin:0;
		font-size:.9rem;
		text-align:center;
		a{
			text-decoration:none;
		}
		a.explain-link{
			display:inline-block;
			margin:2*@pad 0 0 0;
			padding:0 @pad;
			border-radius:3px;
			&:hover{
				background-color:#FFDC00;
			}
			&:after{
					content:'»';
					font-size:1.2rem;
					font-weight:bold;
					margin-left:@pad;
				}
		}
		li:first-child{
			background-color:#39CCCC;
			color:#fff;
			a{
				color:#fff;
			}
			a.explain-link{
				background-color:#fff;
				color:#666;
				&:hover{
					background-color:#FFDC00;
				}
			}
		}
		li{
			padding:2*@pad @pad/2;
			p{
				text-align:left;
			}
			a{
				color:#333;
			}
			a.explain-link{
				background-color:#39CCCC;
				color:#fff;
			}
		}
	}
}

@media(min-width: 728px){
	
	.home{
		.thirukurals{
			position:relative;
			text-align:left;
			li{
				width:50%;
				&:first-child{
					display:block;
					width:100%;
					height:auto;
					padding:2*@pad 3*@pad;
					p{
						margin-right:4*@pad;
						font-size:1.6rem;
					}
				}
				&.gad{
					position:absolute;
					bottom:0;
					right:0;
				}
			}
		}
	}
	
	header{
		overflow:hidden;
		position:relative;
		.logo{
			float:left;
			margin-right:2 * @pad;
			max-height:75px;
			width:auto;
		}
		.brand{
			text-align:left;
			width:50%;
		}
		.follow{
			position:absolute;
			top:0;
			right:0;
			width:50%;
			height:100%;
			background:rgba(255,255,255,1);
			border-radius:20px 0;
			border:1px solid #fff;
			margin:0;
			.fb-like{
				position:absolute;
				top:50%;
				left:50%;
				-moz-transform:translateX(-50%) translateY(-50%);
				-webkit-transform:translateX(-50%) translateY(-50%);
				transform:translateX(-50%) translateY(-50%);
			}
		}
	}
	
	.twikural{
		width:728px;
		margin:0 auto;
	}
	
	article.thirukural{
		
		.couplet-tamil{
			font-size:1.6rem;
			padding:4*@pad 0;
		}
		
		[class*='ear-ad-']{
			position:absolute;
			display:block;
		}
		.gad{
			margin:@pad/2 0;
			padding:0;
			line-height:0;
		}		
		.content{
			overflow:hidden;
			position:relative;
			.explanation-tamil{
				float:left;
				width:50%;
			}
			.gad{
				position:absolute;
				width:50%;
				margin:0;
				top:0;
				right:0;
				height:100%;
				
				.ad{
					position:relative;
					top:50%;
					-moz-transform:translateY(-50%);
					-webkit-transform:translateY(-50%);
					transform:translateY(-50%);
				}
			}
		}
		.share{
			width:50%;
			margin-right:auto;
			margin-left:auto;
			
			li.channel-fb{
				.fb-share-button > span:first-child{
					vertical-align:baseline!important;
				}
			}
		}
	}
}