@(meta : dto.SiteMeta)(thirukurals : List[Thirukural])

@main(meta){

	<article class='home'>
	
		<ul class='thirukurals'>
			@for(thirukural <- thirukurals){
				<li>
					<p>
						<a href="@thirukural.url()" title="விளக்கம் காண்க">@Html(thirukural.tamil)</a>
					</p>
					<a class='explain-link' href="@thirukural.url()" title="விளக்கம் காண்க">விளக்கம்</a>
				</li>
			}
			<li class='gad'>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- twikural-medrect-slot-middle -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:250px"
				     data-ad-client="ca-pub-4601926589924919"
				     data-ad-slot="9145624263"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</li>
		</ul>
		
	</article>
	
}