@(meta : dto.SiteMeta)(thirukurals : List[Thirukural])

@main(meta){

	<article class='home'>
	
		<ul class='thirukurals'>
			@for(thirukural <- thirukurals){
				<li>
					<p>
						<a href="@thirukural.url()" title="விளக்கம் காண்க">@Html(thirukural.tamil)</a>
					</p>
					<a class='explain-link' href="@thirukural.url()" title="விளக்கம் காண்க">விளக்கம்</a>
				</li>
			}
		<li class='intro'>
			<p>Twikural தளம் தினமும் காலை 10 மணிக்கும், மாலை 4 மணிக்கும் ஒரு திருக்குறளை பதிவேற்றும். இந்த குறள்  உங்களின் முகநூல் அல்லது ட்விட்டருக்கு வர வேண்டுமானால் எங்கள் முகநூல் பக்கத்தினை Like செய்யுங்கள். </p>
			<div class="fb-like-box"
				data-href="https://www.facebook.com/twikural" data-width="300"
				data-colorscheme="dark" data-show-faces="true" data-header="false"
				data-stream="false" data-show-border="false"></div>
			<p>இது ஒரு இலவச சேவை.</p>
		</li>
	</ul>
		
	</article>
	
}