@(meta: dto.SiteMeta)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="@meta.description">
		<title>@meta.title</title>
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
		<meta property="og:title" content="@meta.title" />
		<meta property="og:url" content="@meta.url" />
		<meta property="og:description" content="@meta.description" />
		<meta property="og:image" content="@meta.image" />
		<meta property="og:site_name" content="Twikural" />
		<meta property="fb:app_id" content="849000108444865"/>
		
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@@twikural"/>
		<meta name="twitter:site:id" content="479664465"/>
		<meta name="twitter:creator" content="@@vraa"/>
		<meta name="twitter:creator:id" content="8643632"/>
		<meta name="twitter:description" content="@meta.description"/>
		<meta name="twitter:title" content="@meta.title"/>
		<meta name="twitter:image:src" content="@meta.image"/>
		
	</head>
		<body>
		
			<article class='twikural'>
				<header>
					<div class='brand'>
						<a href="/">
							<img class='logo' src="@routes.Assets.at("images/thiruvalluvar.png")" alt="Thiruvalluvar" title="Twikural" />
							<h1>twikural</h1>
							<span class='tagline'>தினமிரு திருக்குறள்!</span>
						</a>
					</div>
					<div class='follow'>
						<div class="fb-like" data-href="https://www.facebook.com/twikural"
							data-width="300" data-layout="standard" data-action="like"
							data-show-faces="true" data-share="false" data-colorscheme="dark"></div>
					</div>
				</header>
			
				@content
			
				<footer>
				Developed by Veera. <a href="mailto:veera.k.sundar@@gmail.com">Contact</a>
			</footer>
		</article>
			
		@_social()
						
		</body>
</html>
