@(thirukural: Thirukural)

@kuralNavigation(thirukural: Thirukural) = {
	<nav>
		<a class='previous' href='@routes.Application.kural(thirukural.previous())'>முந்தையது</a>
		<a class='next' href='@routes.Application.kural(thirukural.next())'>அடுத்தது</a>
		<ul class='share'>
			<li class='channel-fb'>
				<div class="fb-share-button" data-type="button_count" data-href="@thirukural.url()"></div>
			</li>
			<li class='channel-twitter'>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="@thirukural.url()" data-via="twikural">Tweet</a>
			</li>
		</ul>
	</nav>
}

<article id="thirukural-@thirukural.id" class="thirukural">
	@kuralNavigation(thirukural)
	<div class="couplet-tamil">
		<span>
			@Html(thirukural.tamil)
		</span>
	</div>
	<div class='content'>
		<ul class='explanation-tamil'>
			<li>
				<p class='author'>மு. வரதராசனார்</p>
				<p class='artham'>@Html(thirukural.muva)</p>
			</li>
			<li>
				<p class='author'>சாலமன் பாப்பையா</p>
				<p class='artham'>@Html(thirukural.pappaiya)</p>
			</li>
			<li>
				<p class='author'>கலைஞர்</p>
				<p class='artham'>@Html(thirukural.kalaignar)</p>
			</li>
		</ul>
		<div class='gad slot-middle'>
		</div>
	</div>
	<dl class='couplet-english'>
		<dt>
			@Html(thirukural.explanation)
		</dt>
		<dd>
			@Html(thirukural.english)
		</dd>
	</dl>
</article>